*{
    margin:0;
    padding:0
}
body{
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: azure;
}
.whatup{
    width:50%;

}
.writing{
    text-align: center;
}
.what{
    font-size: 2rem;
}
.up{
    font-size: 2rem;
    color:green;
}

.login_box{
    width:50%;
    display: flex;
    justify-content: center;
}
.form{
    background-color: rgb(49, 48, 48);
    border-radius: 10px;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
.field{
    margin:5px;
    padding:5px;
    border-radius: 5px;
}
.field:focus{
    outline: none;
}
.or{
    color:white;
    font-size: 10px;
}
.btn{
    margin:5px;
    padding: 5px 10px;
    border-radius: 5px;
    outline:none;
    border:none;
    color : white;
    cursor: pointer;
}
#login{
    background-color: rgb(3, 119, 215);
    font-size: 15px;
}
#signup{
    background-color: green;
    text-decoration: none;
    font-size: 15px;
}